// reset.css
@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

html {
	line-height: 1;
	
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}

q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}

a img {
	border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}


// 精灵图模块
// $icon-sprite-dimensions: true;
// @import "icon/*.png";
// @include all-icon-sprites;

@import "util";

/* 基础样式 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



body{
	color: #605f5f;	
	font: 14px/1 akkurat,sans-serif;
	background: #f5f7fc;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	-moz-osx-font-smoothing: grayscale;
	
}

a {
	text-decoration: none;
	color: inherit;
}

input,select,textarea {
	border: none;
	outline: none;
	resize: none;
	font-family: inherit;
	padding-left: 3px;
}

i {
	color: inherit;
	display: inline-block;

}


strong {
	font-weight: bold;
}

input[type="reset"],
input[type="submit"] {
	cursor: pointer;
}



.container {
	max-width: 1280px;
	padding: 0 10px;
	margin: auto;

	@include clearfix;	
}

@media (max-width: 768px){
	.container{
		padding: 0;
	}
}
.clear {
	@include clearfix;
}

.lt {
	float: left;
}

.rt {
	float: right;
}


.text-primary {
	color: #337ab7;
}
a.text-primary:hover,
a.text-primary:focus {
	color: #286090;
}
.text-success {
	color: #3c763d;
}
a.text-success:hover,
a.text-success:focus {
	color: #2b542c;
}
.text-info {
	color: #31708f;
}
a.text-info:hover,
a.text-info:focus {
	color: #245269;
}
.text-warning {
	color: #8a6d3b;
}
a.text-warning:hover,
a.text-warning:focus {
	color: #66512c;
}
.text-danger {
	color: #a94442;
}
a.text-danger:hover,
a.text-danger:focus {
	color: #843534;
}




.md-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	z-index: 1000;
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s;

	&.md-overlay-show {
		visibility: visible;
		opacity: 1;
	}


	.md-modal {
		position: absolute;
		left: 50%;
		top: 50%;
		width: 540px;
		max-width: 95%;
		padding: 30px 50px;
		margin-top: 50px;
		transform: translate(-50%, -50%);
		background: #fff;
		transition: all 0.5s;
		visibility: hidden;


		&.md-modal-show {
			margin-top: 0;
			visibility: visible;
		}

		.md-msg {
			min-height: 50px;
			font-size: 14px;
			text-align: center;
			margin-top: 20px;
		}


		.close {
			position: absolute;
			top: 15px;
			right: 15px;
			color: #888;
			font-size: 20px;
			transition: all 0.5s;
			cursor: pointer;

			&:hover {
				transform: rotate(-90deg);
			}
		}

		.md-top {
			margin-bottom: 10px;
		}

		.md-tips {
			font-size: 12px;
			line-height: 1.5;
			margin: 10px 0;
		}

		.md-content {
			font-size: 14px;
			min-height: 50px;
			line-height: 1.5;
			margin-top: 10px;
		}

		.md-btns {
			text-align: center;
			margin-top: 10px;
			a {
				display: inline-block;
				width: 190px;
				height: 43px;
				margin: 10px;
				font-size: 16px;
				// font-weight: bold;
				line-height: 39px;
				color: $c1;
			}
			.md-btn-default {
				border: 2px solid $c1;
				&:hover {
					background: #ffe5e6;
				}
			}

			.md-btn-danger {
				// border: 2px solid $c1;
				background: $c1;
				color: #fff;
				
			}

			.md-cancel {
				border: 2px solid $c1;
				&:hover {
					background: #ffe5e6;
				}
			}
		}

		@media (max-width: 768px) {
			padding: 20px;
		}
	}

}

.btn {
	display: inline-block;
	width: 190px;
	height: 43px;
	margin: 10px;
	font-size: 16px;
	line-height: 39px;
	text-align: center;
	cursor: pointer;
	@include transition;
	
	&.btn-default {
		color: $c1;
		border: 2px solid $c1;
		&:hover {
			background: #ffe5e6;
		}
	}	

	&.btn-danger {
		background: $c1;
		color: #fff;

		&:hover {
			background: lighten($c1, 5%);
		}
	}
}


.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently not supported by any browser */
}


// 过渡方法 
.fade-enter, .fade-leave-to {
	opacity: 0;
}


.cart{
	.cart-title {
		padding: 50px 0 30px 0;
		font-size: 22px;
		letter-spacing: 4px;
		text-transform: uppercase;

		@media (max-width:768px) {
			text-align: center;
			padding: 30px 0 20px 0;
		}
	}


	.cart-table {
		width: 100%;

		.t-head {
				// @include clearfix;
				display: flex;
				// flex-direction: row-reverse;
				// flex-wrap: wrap;
				// align-items: flex-start;
				// align-items: flex-end;
				// align-items: center;
				// align-items: baseline;
				// align-items: stretch;
				li {
					height: 40px;
					line-height: 40px;
					text-align: center;
					background: #605f5f;
					color: #fff;
					font-size: 16px;
					letter-spacing: 2px;
					text-transform: uppercase;

					&:nth-child(1) {
						width: 35%;
						// width: 1%;
					}
					&:nth-child(2) {
						width: 15%;
					}
					&:nth-child(3) {
						width: 15%;
					}
					&:nth-child(4) {
						width: 20%;
					}
					&:nth-child(5) {
						width: 15%;
					}
				}
			}

			.t-body {
				border-left: 1px solid #ddd;
				border-right: 1px solid #ddd;


				li {
					vertical-align: middle;
					text-align: center;
					padding: 30px 0;
					display:flex;
					align-items: center;
					border-bottom: 1px solid #ddd;
					background: #fff;
					* {
						vertical-align: middle;
					}

				}
				.name{
					width: 35%;
					text-align: left;

					i {
						margin: 0 25px;
						font-size: 18px;
						cursor: pointer;
						color: $c2;

						
					}

					img {
						width: 78px;
						height: 78px;
						border: 1px solid #eee;
					}

					h3 {
						display: inline-block;
						margin-left: 25px;
						font-weight: bold;
						font-size: 15px;
						@include ellipsis;

					}
				}
				.price {
					width: 15%;
				}
				.count {
					width: 15%;

				}
				.total-money {
					width: 20%;
					color: $c1;

				}
				.delete {
					width: 15%;
					i{
						font-size: 33px;
						cursor: pointer;
					}
				}

				.count-btns {
					display: inline-flex;
					border: 1px solid #f0f0f0;
					border-radius: 3px;
					height: 32px;
					line-height: 32px;
					text-align: center;

					a {
						background: #f0f0f0;
						width: 35px;
						height: 100%;
					}

					.count-num {
						background: #fff;
					}
				}
				
			}



			


			@media (max-width:768px) {
				.t-head {
					display: none;
				}

				

				.t-body {
					border: none;
					li {
						border-top: 1px solid #eee;
						border-bottom: 1px solid #eee;
						margin-bottom: 20px;
						flex-wrap: wrap;
						padding: 5px 0;
						position: relative;
						justify-content: space-between;

						> div {
							padding: 10px 0;
						}
					}

					
					.name {
						width: 100%;
						padding-right: 50px;
						border-bottom: 1px solid #eee;
					}

					.delete {
						position: absolute;
						top: 25px;
						right: 14px;
						width: auto;
					}


					.price {
						display: none;
					}

					.count {
						margin-left: 25px;
					}

					.total-money{
						width: auto;
						margin-right: 20px;
					}


				}
			}
			

			

		}

		.cart-footer{
			display: flex;
			margin-top: 25px;
			border: 1px solid #ddd;
			height: 60px;
			line-height: 60px;
			justify-content: space-between;

			background: #fff;

			.select-all {
				i {
					margin: 0 25px;
					font-size: 18px;
					cursor: pointer;
					color: $c2;
				}

			}

			.total {
				font-size: 0;

				.title {
					font-size: 16px;
					vertical-align: 2px;
				}

				.all-total-money {
					margin: 0 20px;
					color: $c1;
					font-size: 18px;
					font-weight: bold;
				}

				.checkout{
					display: inline-block;
					height: 100%;
					width: 130px;
					font-weight: bold;
					background: $c1;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 3px;
					transition: all 0.3s;
					color: #fff;
					font-size: 16px;
					vertical-align: 2px;

					&:hover {
						background: #d1434a;
					}
				}
			}




		}




	}








	.comfirm{
		// background: red;
		.cart {


			.cart-table {
				.t-head {
					li {
						&:nth-child(1) {
							width: 50%;
						}
					}	


				}

				.t-body {
					.name {
						width: 50%;

						img {
							margin-left: 10%;
						}
					}
					.count-btns {
					// border: none;
					padding: 0 10px;
				}
			}
		}
}
		.finally-money {
			@include clearfix;
			text-align: right;
			margin: 30px 0;

			li {
				@include clearfix;
				display: flex;
				height: 40px;
				line-height: 40px;
			}
			.title {
				font-size: 18px;
				width: 100%;
				
			}

			.money {
				width: 200px;
				font-size: 18px;
				color: $c1;
			}
		}
	}
